.popup__change-profile-input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
  font-family: inherit;

}

@media screen and (max-width: 600px) {
  .popup__change-profile-input {
      width: 238px;
  }
}
