.popup__close-button {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: calc(50vh - 205px);
  left: calc(50vw + 223px);
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url(../../../images/Close-Icon.png);
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
      width: 20px;
      height: 20px;
      top: calc(50vh - 197px);
      left: calc(50vw + 121px);
  }
}
